{% extends "home.html" %}
{% block title %}
Edit Student
{% endblock %}
{% block content %}
        <h1 id="edit-stndt-head">Edit Student Record</h1>
        {% for row in rows %}
        <form action="{{ url_for('editrec') }}" method="POST" id="form-elem">
            <h3  id="individiual_stdnt_id">Student ID: {{ row['rowid']}}</h3>
            <input style="box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;" type="hidden" name="rowid" value="{{ row['rowid'] }}">
            <!-- Name<br> -->
            <label class="same-cls" for="rowid">Name</label>
            <br>
            <input style="box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;" type="text" name="nm" value="{{ row['name'] }}" placeholder="Enter Name"/><br>

            <label class="same-cls" for="rowid2">Address</label>
            <br>
            <input style="box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;" type="text" name="add" value="{{row['addr']}}" placeholder="Enter Address"/><br>

            <label class="same-cls" for="rowid3">City</label>
            <br>
            <input style="box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;" type="text" name="city" value="{{ row['city'] }}" placeholder="Enter City"/><br>

            <label class="same-cls" for="rowid4">Enrollment Number</label>
            <br>
            <input type="text" name="enrollment_no" value="{{ row['enrollment_no'] }}" placeholder="Enter Enrollment Number"/><br>

            <input type="submit" value="Submit" id="submit-btn"/><br>
        </form>
        {% endfor %}
{% endblock %}

