{% extends "home.html" %}
{% block title %}
List All Students
{% endblock %}
{% block content %}
        <table border="1px solid" style="width: 100%; text-align: center; border-collapse: collapse;">
            <thead>
                    <tr>
                    <td class="header_td">Student ID</td>
                    <td class="header_td">Name</td>
                    <td class="header_td">Address</td>
                    <td class="header_td">City</td>
                    <td class="header_td">Enrollment Number</td>
                    <td class="header_td">Customisable</td>
                    <td class="header_td">Customisable</td>
                    </tr>
            </thead>

            {% for row in rows %}
            <tr>
                <td style="background: rgb(255, 227, 117);">{{ row["rowid"] }}</td>
                <td style="font-weight: 400;">{{ row["name"] }}</td>
                <td style="font-weight: 400;"> {{ row["addr"]}}</td>
                <td style="font-weight: 400;">{{ row["city"] }}</td>
                <td style="font-weight: 400;">{{ row["enrollment_no"] }}</td>
                <td><form action="{{url_for('edit')}}" method="POST"><input type="hidden" name="id" value="{{ row['rowid'] }}"><input type="submit" value="Edit✅" style="border: none; cursor: pointer;" class="edit-btn"></form> </td>
                <td><form onsubmit="return confirm('Are you sure you want to DELETE this Student from the Record?');" action="{{url_for('delete')}}" method="POST"><input type="hidden" name="id" value="{{ row['rowid'] }}"><input type="submit" value="Delete❌" style="border: none; cursor: pointer;" class="dlt-btn"></form> </td>
            </tr>
            {% endfor %}
        </table>
        <a id="btn" href="{{ url_for('home') }}" style="font-size: 1rem;">Go to Home Page</a>
{% endblock %}