{% extends "home.html" %}
{% block title %}
Add New Student
{% endblock %}
{% block content %}
    <form action="{{ url_for('addrec') }}" method="POST" id="add-student-id">
        <h3 id="adding-new-student">Add the New Student Information:</h3>
         <label class="bear" for="">Name</label>
         <br>
        <input class="add-stndts" type="text" name="nm" placeholder="Enter Name" /><br>

         <label class="bear"  for="">Address</label>
         <br>
        <textarea id="textarea" name="add" placeholder="Enter Address"></textarea><br>

         <label class="bear" for="">City</label>
         <br>
        <input class="add-stndts" type="text" name="city" placeholder="Enter City"/><br>

         <label class="bear" for="">Enrollment Number</label>
         <br>
        <input class="add-stndts" type="text" name="enrollment_no" placeholder="Enter enrollment Number"/><br>

        <input id="bttnn" class="add-stndts" type="submit" value="Submit" /><br>
    </form>
{% endblock %}